:root {
    /***** font family *****/
    --font-family-first: "Oswald", serif;
    --font-family-second: "Open Sans", serif;
    /***** colors *****/
    --bg-color-infinite-night: #070D37;
    --color-sky-blue: #39C6FD;
    --color-infinite: #070D37;
    --color-white: #FFFFFF;
    /***** font size *****/
    --fs-small: 12px;
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-xl: 48px;
    --fs-2xl: 80px;
    /***** line height *****/
    --lh-16: 16.34px;
    --lh-21: 21.79px;
    --lh-23: 23.71px;
    --lh-25: 25.15px;
    --lh-29: 29.64px;
    --lh-71: 71.14px;
    --lh-118: 118.56px;
    /***** opacity *****/
    --opacity-70: 70%;
}

/***** font family *****/
.font-family-first {
    font-family: var(--font-family-first);
}

.font-family-second {
    font-family: var(--font-family-second);
}

/***** colors *****/
.bg-color-infinite-night {
    background-color: var(--color-infinite-night);
}

.color-infinite {
    background-color: var(--color-infinite);
}

.color-sky-blue {
    color: var(--color-sky-blue);
}

.color-white {
    color: var(--color-white);
}

/***** font size *****/
.fs-small {
    font-size: var(--fs-small);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

/***** line height *****/
.lh-16 {
    line-height: var(--lh-16);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-25 {
    line-height: var(--lh-25);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-118 {
    line-height: var(--lh-118);
}

/***** opacity *****/
.opacity-70 {
    opacity: 70%;
}

/***** media screen max-width *****/
@media (max-width:575.98px) {
    :root {
        --fs-2xl: 50px;
        --fs-xl: 33px;
        --lh-118: normal;
        --lh-71: normal;
    }
}