@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('../css/root.css');

.bg-img {
    background-image: url(../images/png/header-bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

.bg-color {
    background-color: var(--bg-color-infinite-night);
}

.max-w-1140 {
    max-width: 1140px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.rotate40 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-45 {
    transform: rotate(-43deg);
}

.gap-23 {
    gap: 23px;
}

.gap-53 {
    gap: 53.26px;
}

.gap-20 {
    gap: 20px;
}

.py-9 {
    padding-top: 9px;
    padding-bottom: 9px;
}

.text-hover-2 {
    background-image: linear-gradient(to right,
            white 50%,
            #39C6FD 50%);
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.text-hover {
    background-image: linear-gradient(to right,
            #39C6FD 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.text-hover::before,
.text-hover-2::before {
    content: '';
    background: #54b3d6;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.text-hover:hover,
.text-hover-2:hover {
    background-position: 0;
}

.text-hover:hover::before,
.text-hover-2:hover::before {
    width: 100%;
}

.nav-btn-1,
.nav-btn-3 {
    border-radius: 3.48px;
    background-color: var(--color-sky-blue);
    padding: 8.5px 20px 8.5px 20px;
    color: var(--color-infinite);
    transition: all 200ms linear;
}

.nav-btn-2,
.nav-btn-4 {
    padding: 8px 20px 8px 20px;
    border-radius: 4px;
    background-color: var(--bg-color-infinite-night);
    border: 1px solid;
    border-color: var(--color-sky-blue);
    transition: all 300ms linear;
}

.nav-btn-1:hover,
.nav-btn-3:hover,
.join-btn:hover,
.join-btn-2:hover {
    color: var(--color-white);
}

.nav-btn-2:hover,
.nav-btn-4:hover {
    background-color: var(--color-white);
    border-color: var(--color-white);
}

.max-w-607 {
    max-width: 607px;
}

.mt-68 {
    margin-top: 68px;
}

.join-btn {
    padding: 14px 27px 14px 27px;
    border-radius: 5.04px;
    background-color: var(--color-sky-blue);
    color: var(--color-infinite);
    transition: all 200ms linear;
}

.layer {
    bottom: -1%;
}

/***** section 1 *****/
.triangle-svg {
    right: 0%;
    top: -91%;
}

.app-store {
    transition: all 400ms linear;
}

.app-store:hover {
    transform: translateY(-10px);
}

.max-w-627 {
    max-width: 627px;
}

.phone-bg-layer {
    top: -48%;
    left: -31%;
    filter: blur(60px)
}

.cursor-pointer {
    cursor: pointer;
}

.gap-30 {
    gap: 30px;
}

.mt-63 {
    margin-top: 63px;
}

.max-w-148 {
    max-width: 148.55px;
}

/* slider */
.max-w-632 {
    max-width: 632px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.mt-51 {
    margin-top: 51px;
}

.max-w-516 {
    max-width: 516px;
}

.slider-card {
    max-width: 494px;
}

.slick-slide {
    height: 461px !important;
    display: flex !important;
}

.slick-track {
    display: flex !important;
    gap: 30px !important;
}

.mt-17 {
    margin-top: 17px;
}

/***** accordion *****/
.max-w-680 {
    max-width: 680px;
}

.max-w-830 {
    max-width: 830px;
}

.pt-12 {
    padding-top: 12px;
}

.mt-25 {
    margin-top: 25px;
}

.section-3 .accordion {
    --bs-accordion-btn-focus-box-shadow: none !important;
    padding-left: 12px;
    padding-right: 12px;
    --bs-accordion-border-width: none !important;
}

.section-3 .accordion-button {
    margin: 52px 0px 26px 0px !important;
    padding: 0 !important;
}

.section-3 .accordion-body {
    padding-top: 0 !important;
    padding-left: 40px;
}

.line {
    border: 2px solid;
    border-color: var(--color-sky-blue);
}

.section-3 .accordion-button:not(.collapsed)::after {
    background-image: url(../images/svg/accordion-line-img.svg);
    background-position: center;
    background-size: contain;
    transform: rotate(0);
}

.section-3 .accordion-button::after {
    background-image: url(../images/svg/arrow-img.svg);
    background-position: center;
    background-size: contain;
}

.pr-13 {
    padding-right: 13.98px;
}

.left-triangle {
    left: 0;
    top: -370px;
    z-index: -1;
}

/***** section 4 *****/
.bg-img-2 {
    background-image: url(../images/png/section-4-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box {
    max-width: 1140px;
    background: var(--bg-color-infinite-night);
    border: 3px solid;
    border-color: var(--color-sky-blue);
    border-radius: 10px;
}

.max-w-582 {
    max-width: 582px;
}

.pt-10 {
    padding-top: 10px;
}

.mt-60 {
    margin-top: 60px;
}

.join-btn-2 {
    padding: 11px 27px 11px 27px;
    border: none;
    background: var(--color-sky-blue);
    color: var(--color-infinite);
    border-radius: 4px;
    transition: all 200ms linear;
}

.phone-img {
    top: -32%;
    right: 41px;
}

.mb-32 {
    margin-bottom: 32px;
}

.iphone {
    max-width: 302.79px;
    height: 608.46px;
}

.triangle-img {
    top: 31%;
    right: 0%;
}

/***** footer *****/
.max-width-810 {
    max-width: 810px;
}

.gap-63 {
    gap: 63px;
}

.pt-52 {
    padding-top: 52px;
}

.line-2 {
    border: 0.5px solid;
    border-color: var(--color-sky-blue);
}

.pb-36 {
    padding-bottom: 36px;
}

.max-width-195 {
    max-width: 195px;
}

.bg-img-3 {
    background-image: url(../images/png/footer-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/***** media screen min-width *****/
@media (min-width:576px) {
    .section-3 .accordion-button {
        padding-right: 16px !important;
    }
}

@media (min-width:992px) {
    .mb-190 {
        margin-bottom: 190px;
    }

    .mb-198 {
        margin-bottom: 198px;
    }

    .mb-178 {
        margin-bottom: 178px;
    }

    .mb-200 {
        margin-bottom: 200px;
    }

    .section-3 .accordion {
        width: 946.31px !important;
    }

    .nav-btn-1,
    .nav-btn-2 {
        display: none;
    }

    .box {
        padding: 65px 0px 89px 73px;
    }
}

/***** media screen max-width *****/
@media (max-width:1399.98px) {
    .left-triangle {
        max-width: 350px;
        top: -194px;
    }
}

@media (max-width:1199.98px) {
    .left-triangle {
        max-width: 250px;
        top: -130px;
    }
}

@media (max-width:1045.98px) {
    .max-w-582 {
        max-width: 500px;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: var(--bg-color-infinite-night) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }

    .mb-190 {
        margin-bottom: 190px;
    }

    .mb-198 {
        margin-bottom: 139px;
    }

    .mb-178 {
        margin-bottom: 178px;
    }

    .mb-200 {
        margin-bottom: 200px;
    }

    .triangle-svg {
        top: -25%;
    }

    .nav-btn-3,
    .nav-btn-4 {
        display: none;
    }

    .box {
        padding: 12px;
    }

    .mt-60 {
        margin-top: 20px;
    }
}

@media (max-width:767.98px) {
    .mb-190 {
        margin-bottom: 100px;
    }

    .mb-198 {
        margin-bottom: 100px;
    }

    .mb-178 {
        margin-bottom: 100px;
    }

    .mb-200 {
        margin-bottom: 100px;
    }

    .left-triangle {
        max-width: 190px;
    }
}

@media (max-width:575.98px) {
    .mt-63 {
        margin-top: 20px;
    }
}