@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.oswald-family {
    font-family: "Oswald", sans-serif;
}

.open-family {
    font-family: "Open", sans-serif;
}

.bg-img {
    background-image: url(/assets/image/png/VICTORIAN-RESISTANCE.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1140px !important;
}

.right-layer {
    top: 0;
    right: 0;
}

.left-layer {
    bottom: -232px;
    left: 0;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--null);
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: white !important;
    position: relative;
}

.z-5 {
    z-index: 5;
}

.rotate40 {
    transform: rotate(40deg);

}

.rotate-45 {
    transform: rotate(-46deg);

}

.login-btn {
    width: 80px;
    height: 40px;
    border-radius: 3.48px;
    background: #39C6FD;
    border: none;
    z-index: 2;
    transition: all 200ms linear;
    position: relative;
}

.login-btn:hover {
    background: white;
}

.sign-btn {
    width: 94px;
    height: 40px;
    gap: 10px;
    border-radius: 4px;
    background: #070D37;
    border: 1px solid #39C6FD;
    z-index: 2;
    transition: all 200ms linear;
    position: relative;
}

.sign-btn:hover {
    background: #162175;

}

.main-btn {
    padding: 14px 27px 14px 27px;
    border-radius: 5.04px;
    background: #39C6FD;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 200ms linear;
}

.main-btn:hover {
    background-color: #1b2785;
    color: white;
}

.sec-1-top-right-layer {
    top: 0;
    right: 0;
}

.pl-23 {
    padding-left: 23px;
}

/* ---------section-2---------- */
.mx-627 {
    max-width: 627px;
}

.sec-2-btn {
    width: 148.5px;
    height: 44px;
    background: #000000;
    border: 2px solid white;
    border-radius: 8px;
}

.gap-30 {
    gap: 30px;
}

.sec-2-btns {
    cursor: pointer;
}

.sec-2-btns:hover {
    transform: scale(1.03);
    transition: all 200ms linear;
}

.iphone-bg-layer {
    top: -28%;
    left: -7%;
}

.top-rght-layer {
    top: -37%;
    right: 0;
}

.bottom-layer {
    bottom: -3px;
}

/* ---------section-3---------- */
.mx-632 {
    max-width: 632px;
}

.mx-516 {
    max-width: 516px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-10 {
    padding-left: 10px;
}

.mx-971 {
    max-width: 971px !important;
}

.phone-card {
    top: 10%;
}

.pt-190 {
    padding-top: 190px;
}

.mx-607 {
    max-width: 607px;
}

.pt-48 {
    padding-top: 48px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-12 {
    margin-top: 12px;
}

.pl-53 {
    padding-left: 53px;
}

.mx-680 {
    max-width: 680px;
}

/* --------------section-4---------------- */
.accordian-para {
    border-bottom: 2px solid #DDDDDF;
}

.courser-pointer {
    cursor: pointer;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url(/assets/image/svg/accordion-arrow-svg.svg) !important;
}

.accordion-item {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #39C6FD !important;
    box-shadow: none !important;
}

.accordion-body {
    background: #070D37 !important;
}

.accordion-button {
    background: #070D37 !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.pr-13 {
    margin-right: 13px;
}

.mx-810 {
    max-width: 810.34px;
}

.mt-52 {
    margin-top: 52px;
}

.accordion-top-left-layer {
    top: -38%;
    left: 0;
}

.pb-77 {
    padding-bottom: 77px;
}

.slider-image-size {
    height: 100% !important;
    max-width: 494px !important;
    margin-right: 30px;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.mx-946 {
    max-width: 946px;
}

.pt-md-190 {
    padding-top: 190px;
}

/* -----------section-5----------- */
.bg-layer {
    background-image: url(/assets/image/png/sec-4-bg-layer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mx-582 {
    max-width: 582px;
}

.join-btn {
    padding: 11px 27px 11px 27px;
    border-radius: 4px;
    background: #39C6FD;
    border: none;
    transition: all 200ms linear;
}

.join-btn:hover {
    background-color: #1b2785;
    color: white;
}

.sec-4-main-box {
    max-width: 1140px;
    border-radius: 10px;
    border: 3px;
    background: #070D37;
    border: 3px solid #39C6FD;
}

.pt-65 {
    padding-top: 65px;
}

.pt-10 {
    padding-top: 10px;
}

.mt-60 {
    margin-top: 60px;
}

.ml-73 {
    margin-left: 73px;
}

.mb-89 {
    margin-bottom: 89px;
}

.sec-4-iphone {
    top: 8%;
    right: 18%;
}

.pb-200 {
    padding-bottom: 200px;
}

/* -----------footer--------- */
.footer-bg-layer {
    background-image: url(/assets/image/png/footer-bg-layer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mx-810 {
    max-width: 810px;
}

.pl-63 {
    padding-left: 63px;
}

.bottom-line {
    border-top: 0.5px solid #39C6FD;
}

.pt-222 {
    padding-top: 222px;
}

.mt-190 {
    margin-top: 190px;
}

.footer-top-right-layer {
    top: -50%;
    right: 0;
    width: 376px;
}

@media (max-width:991.98px) {
    .bug {
        display: none;
    }

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 200ms linear !important;
        z-index: 2;
    }

    .show-nvabar {
        right: 0 !important;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    ul {
        flex-direction: column;
        justify-content: center !important;
        display: flex;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .d-xl-none {
        display: unset !important;
    }

    .pl-53 {
        padding-left: 0;
    }

    .mt-xl-20 {
        margin-top: 20px;
    }
}

@media (max-width:575.98px) {
    .w-sm-100 {
        width: 100%;
    }

    .pt-48 {
        padding-top: 96px;
    }

    .ml-sm-48 {
        margin-left: 48px;
    }

    .pt-190 {
        padding-top: 43px;
    }

    .top-rght-layer {
        display: none;
    }

    .gap-30 {
        gap: 40px;
    }

    .my-50 {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .gap-53 {
        gap: 0;
    }

    .pt-20 {
        padding-top: 20px !important;
    }

    .pl-30 {
        padding-left: 30px;
    }

    .ml-73 {
        margin-left: 15px;
    }

    .pt-65 {
        padding-top: 0;
    }

    .mt-60 {
        margin-top: 11px;
    }

    .mb-89 {
        margin-bottom: 31px;
    }

    .pt-222 {
        padding-top: 100px;
    }

    .mt-190 {
        margin-top: 25px;
    }

    .footer-top-right-layer {
        display: none;
    }

    .left-layer {
        display: none;
    }
}

@media (max-width:767.98px) {
    .w-md-100 {
        width: 100%;
    }

    .pb-77 {
        padding-bottom: 20px;
    }

    .pt-md-190 {
        padding-top: 0;
    }

    .accordion-top-left-layer {
        display: none;
    }

    .accordion-top-left-layer {
        display: none;
    }

    .ml-63 {
        margin-left: 63px;
    }
}

@media (max-width:1200px) {
    .sec-4-iphone {
        display: none !important;
    }
}

@media (max-width:319.98px) {
    .gap-30 {
        gap: 3px;
    }
}

@media (min-width:1024px) {
    .sec-4-iphone {
        top: 30%;
        right: 7%;
    }
}

@media (min-width:1200px) {
    .sec-4-iphone {
        top: 8%;
        right: 18%;
    }
}